samples/sample2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Representable" type="RepresentableType"/>
  <xs:complexType name="IntegerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="class" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StructureMatrixType">
    <xs:sequence>
      <xs:element type="DataType" name="Data"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="dim" use="optional"/>
    <xs:attribute type="xs:string" name="class" use="optional"/>
    <xs:attribute type="xs:string" name="typeClass" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CellType">
    <xs:sequence>
      <xs:element type="DoubleType" name="Double" minOccurs="0"/>
      <xs:element type="RepresentableType" name="Representable" minOccurs="0"/>
      <xs:element type="IntegerType" name="Integer" minOccurs="0"/>
      <xs:element type="BooleanType" name="Boolean" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="l" use="optional"/>
    <xs:attribute type="xs:string" name="c" use="optional"/>
  </xs:complexType>
  <xs:complexType name="RepresentableType">
    <xs:sequence>
      <xs:element type="StructureMatrixType" name="StructureMatrix" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="class" use="optional"/>
  </xs:complexType>
  <xs:complexType name="DoubleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="class" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BooleanType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="class" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DataType" mixed="true">
    <xs:sequence>
      <xs:element type="CellType" name="Cell" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="dim" use="optional"/>
  </xs:complexType>
</xs:schema>